/*************************** Common *****************************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --grey-100: #F2F2F2;
    --grey-200: #EAEAEA;
    --grey-300: #E9EBEB;
    --grey-400: #F3EEEA;
    --grey-500: #B1B1B1; 
    --grey-600: #6E7C85;
    --light-blue: #8EDAFC;
    --light-green: #D5F9BA;
}
.wrapper{
    height: 100vh;
    background: linear-gradient(180deg, rgb(21, 124, 119) 100px, rgb(200, 200, 200) 0);
}
/* div{
    border: 1px solid black;
} */
#app{
    height: 90vh;
    width: 80%;
}
img{
    max-width: 100%;
}
.my-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*************************** lista chat a sinistra *****************************/
.menu-chat{
    border-right: 1px solid var(--grey-500);
    background-color: white;
}
.menu-chat > *{
    padding: 5px   ;
}
/* immagine e tasti per profilo personale*/
.header{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--grey-200);
}
.icons button, .footer button{
    color: var(--grey-500);
    border: 0;
    background-color: transparent;
    font-size: 1.25rem;
    padding: 0.6rem;
    margin-right: 0.4rem;
}  
.my-pic-profile{
    height: 55px;
    width: 55px;
    border-radius: 50%;
    overflow: hidden;
    background-color: white;
}
/*barra per impostare le notifiche*/
.notify{
    background-color: var(--light-blue);
    height: 70px;
    display: flex;
    align-items: center;
}
.notify span{
    font-size: 14px;
}
.notify .pic-profile{
    width: 55px;
    height: 55px;
    background-color: white;
    color: var(--light-blue);
}
/* barra di ricerca*/
.input-bar{
    background-color: var(--grey-200);
    height: 40px;
}
.input-bar button{
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    border: 0;
    border-right: 1px solid var(--grey-500);
    color: var(--grey-500);
    border-radius: 5px 0 0 5px;
}
.input-bar input{
    border: 0;
    border-radius: 0 5px 5px 0;
}
/* chat dinamiche */
.list-chat{
    padding: 0;
    overflow-y: auto;
    height: calc(100% - 170px);
}
.chat{
    padding: 5px;
    height: 70px;
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid var(--grey-500);
    cursor: pointer;
}
.chat:hover{
    background-color: var(--grey-300);
}
.chat-active{
    background-color: var(--grey-300);
}
.pic-profile{
    height: 65px;
    width: 65px;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--grey-100);
}
.time-chat{
    position: absolute;
    top:5px; right: 5px;
}
.name-chat{
    width: calc(100% - 80px);
    height: 50px;
    overflow: hidden;
}
/*************************** Messaggi a destra *****************************/
.inner-messages{
    background-image: url(../img/mine.jpg);
    background-size: cover;
    height: calc(100% - 120px);
    overflow-y: auto;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    padding-top: 1.5rem;

}
.text-message{
    padding: 0.7rem 8rem 0.7rem 0.7rem;
    border-radius: 10px;
    margin-top: 0.8rem;
    max-width: 50%;
    position: relative; 
}
.sent{
    background-color: var(--light-green);
    align-self: flex-end;
    margin-right: 2rem;
}
.received{
    background-color: white;
    margin-left: 2rem;
}
.time-message{
    position: absolute;
    bottom: 5px; right: 5px;
    font-size: 11px;
}
.text-message button{
    border: 0;
    background-color: transparent;
    position: absolute;
    top: 0; right: 5px;
    color: var(--grey-600);
    opacity: 0;
    transition: opacity 0.5s;
}
.text-message:hover button{
    opacity: 1;
}
.footer{
    background-color: var(--grey-400);
    height: 60px;
}
.footer button{
    color: var(--grey-600);
}