/*************************** Common *****************************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrapper{
    height: 100vh;
    background: linear-gradient(180deg, rgb(21, 124, 119) 15%, rgb(200, 200, 200) 15%);
}
div{
    border: 1px solid black;
}
#app{
    height: 90vh;
    width: 80%;
}
img{
    max-width: 100%;
}
.my-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*************************** lista chat a sinistra *****************************/
.menu-chat > *{
    padding: 5px   ;
}
/* immagine e tasti per profilo personale*/
.header{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #EAEAEA;
}
.icons{
    color: #B1B1B1;
}  
.my-pic-profile{
    height: 55px;
    width: 55px;
    border-radius: 50%;
    overflow: hidden;
    background-color: white;
}
/*barra per impostare le notifiche*/
.notify{
    background-color: #8EDAFC;
    height: 70px;
    display: flex;
    align-items: center;
}
.notify span{
    font-size: 14px;
}
.notify .pic-profile{
    background-color: white;
    color: #8EDAFC;
}
/* barra di ricerca*/
.input-bar{
    background-color: #FAFAFA;
    height: 40px;
}
.input-bar button{
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    border: 0;
    border-right: 1px solid #B1B1B1;
    color: #B1B1B1;
    border-radius: 5px 0 0 5px;
}
.input-bar input{
    border: 0;
    border-radius: 0 5px 5px 0;
}
/* chat dinamiche */
.list-chat{
    
    padding: 0;
    overflow-y: auto;
    height: calc(100% - 170px);
}
.chat{
    padding: 5px;
    height: 70px;
    display: flex;
    align-items: center;
    background-color: white;
    position: relative;
}
.pic-profile{
    height: 65px;
    width: 65px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #F2F2F2;
}
.time{
    position: absolute;
    top:5px; right: 5px;
}
.name-chat{
    width: calc(100% - 80px);
    height: 50px;
    overflow: hidden;
}
