/*************************** Common *****************************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --grey-100: #F2F2F2;
    --grey-200: #EAEAEA;
    --grey-300: #E9EBEB;
    --grey-400: #F3EEEA;
    --grey-500: #B1B1B1; 
    --grey-600: #6E7C85;
    --light-blue: #8EDAFC;
    --light-green: #D5F9BA;
    --white: white;
    --light: #d8dbe0;
    --dark: #28292c;
}
.wrapper{
    height: 100vh;
    background: linear-gradient(180deg, rgb(21, 124, 119) 100px, rgb(200, 200, 200) 0);
}
/* div{
    border: 1px solid black;
} */
.app{
    height: 90vh;
    width: 80%;
}
img{
    max-width: 100%;
}
.my-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    overflow: overlay
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 1); 
    background: rgb(83, 83, 83); 
    border-radius: 10px;
    overflow: overlay
}
::-webkit-scrollbar-thumb {
    background: lightgrey;
    border-radius: 10px;
}
/*************************** Splash Page *****************************/
.splash-page{
    height: 100vh;
    background-color: #098f1b;
}
.logo{
    width: 150px;
}
.circle{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    color: white;
}
.circle i{
    font-size: 130px;
    animation: rotation 15s linear infinite;
}
@keyframes rotation {
    from{transform: rotate(0deg);}
    to{transform: rotate(3600deg);}
}
.loading-animation {
    display: flex;
}
.cog {
    animation-name: loading-spin;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.loading-big {
    font-size: 108px;
    margin-bottom: 15px;
    animation-duration: 3s;
}
.loading-small {
    font-size: 60px;
    align-self: flex-end;
    margin-left: -10px;
    animation-duration: 2s;
    animation-direction: reverse;
}
@keyframes loading-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
/*************************** Dark Mode *****************************/
.dark-mode{
    filter: invert(1);
}
.toggle {
    cursor: pointer;
    display: inline-block;
}
.toggle-switch {
    display: inline-block;
    background: #ccc;
    border-radius: 16px;
    width: 58px;
    height: 32px;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;
}
.toggle-switch:after {
    content: "";
}
.toggle-switch:before {
    content: '\f185';
    font: var(--fa-font-regular);
    text-align: center;
    line-height: 23px;
}
.toggle-switch.moon:before {
    content: '\f186';
    font: var(--fa-font-regular);
    text-align: center;
    line-height: 24px;
}
.toggle-switch:before {
    display: block;
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
    width: 24px;
    height: 24px;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: left 0.25s;
}
.toggle:hover .toggle-switch:before {
    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}
.toggle-checkbox:checked + .toggle-switch {
    background: #56c080;
}
.toggle-checkbox:checked + .toggle-switch:before {
    left: 30px;
}
.toggle-checkbox {
    position: absolute;
    visibility: hidden;
}
.toggle-label {
    margin-left: 5px;
    position: relative;
    top: 2px;
}

/*************************** lista chat a sinistra *****************************/
.menu-chat{
    border-right: 1px solid var(--grey-500);
    background-color: var(--white);
    position: relative;
}
.menu-chat > *{
    padding: 5px   ;
}
/* immagine e tasti per profilo personale*/
.header{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--grey-200);
}
.icons > button, .footer > button{
    color: var(--grey-500);
    border: 0;
    background-color: transparent;
    font-size: 1.25rem;
    padding: 0.6rem;
    margin-right: 0.4rem;
}  
.my-pic-profile{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--white);
}
/* opzioni del profil personale */
.options-profile{
    position: absolute;
    bottom: -35px; right: 0px;
    width: 160px;
    z-index: 100;
}
.options-profile button{
    border: 1px solid black;
    background-color: var(--white);
    padding: 5px;
    width: 100%;
}
/* hamburger menu */
.hamburger-menu{
    height: 50px;
    width: 160px;
    position: absolute;
    bottom: -50px; right: 0;
    background-color: var(--grey-600);
    z-index: 200;
}
/*barra per impostare le notifiche*/
.notify{
    background-color: var(--light-blue);
    height: 70px;
    display: flex;
    align-items: center;
}
.notify span{
    font-size: 14px;
}
.notify .pic-profile{
    width: 45px;
    height: 45px;
    background-color: var(--white);
    color: var(--light-blue);
}
/* barra di ricerca*/
.input-bar{
    background-color: var(--grey-200);
    height: 40px;
    border-bottom: 1px solid var(--grey-500);
}
.input-bar button{
    background-color: var(--white);
    padding-left: 10px;
    padding-right: 10px;
    border: 0;
    border-right: 1px solid var(--grey-500);
    color: var(--grey-500);
    border-radius: 5px 0 0 5px;
}
.input-bar input{
    border: 0;
    border-radius: 0 5px 5px 0;
}
/* chat dinamiche */
.list-chat{
    padding: 0;
    overflow-y: auto;
    height: calc(100% - 170px);
}
.chat{
    padding: 5px;
    height: 70px;
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid var(--grey-500);
    cursor: pointer;
}
.chat:hover{
    background-color: var(--grey-300);
}
.chat-active{
    background-color: var(--grey-300);
}
.pic-profile{
    height: 55px;
    width: 55px;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--grey-100);
}
.time-chat{
    position: absolute;
    top:5px; right: 5px;
}
.name-chat{
    width: calc(100% - 80px);
    height: 50px;
    overflow: hidden;
}
/* icona per creare una nuova chat */
.icon-new-chat{
    position: absolute;
    bottom: 10px; right: 20px;
    overflow: hidden;
}
.icon-new-chat button{
    border: 0;
    width: 50px; height: 50px;
    border-radius: 50%;
    background-color: #46C456;
}
/* sezione dedicata alla creazione di una nuova chat  */
.new-chat-menu{
    height: 100%;
    overflow: auto;
    background-color: var(--white);
    position: relative;
}
.new-chat-menu .header{
    position: sticky;
    top: 0; left: 0;
    width: 100%;
}
.name-contacts{
    padding: 10px;
    border-bottom: 1px solid black;
    cursor: pointer;
}
.new-chat-menu .header button{
    border: 0;
    background-color: transparent;
}
/*************************** Messaggi a destra *****************************/
/* finestra di default se non ci sono chat selezionate  */
.opening-image{
    background-image: url(../img/sfondo-default.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    color: var(--white);
    text-align: center;
    padding-top: 60px;
}
.options-chat{
    position: absolute;
    right: 5px; top: 45px;
    z-index: 50;
    width: 110px;
}
.options-chat button{
    width: 100%;
    border: 1px solid black;
    background-color: var(--white);
    padding: 5px;
}

/* interno della chat con i messaggi */
.inner-messages{
    background-image: url(../img/mine.jpg);
    background-size: cover;
    height: calc(100% - 120px);
    overflow-y: auto;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    padding-top: 1.5rem;
    padding-bottom: 2.5rem ; 
}
.text-message{
    padding: 0.7rem 8rem 0.7rem 0.7rem;
    border-radius: 10px;
    margin-top: 0.8rem;
    max-width: 50%;
    position: relative; 
}
/* classi dei messaggi ricevuti e inviati  */
.sent{
    background-color: var(--light-green);
    align-self: flex-end;
    margin-right: 2rem;
}
.received{
    background-color: var(--white);
    margin-left: 2rem;
}
.time-message{
    position: absolute;
    bottom: 5px; right: 5px;
    font-size: 11px;
}
.text-message > button{
    border: 0;
    background-color: transparent;
    position: absolute;
    top: 0; right: 5px;
    color: var(--grey-600);
    opacity: 0;
    transition: opacity 0.5s;
}
.text-message:hover button{
    opacity: 1;
}
.options-message{
    position: absolute;
    top: 20px; right: 5px;
    width: 70px;
    z-index: 100;
}
.options-message button{
    width: 100%;
    padding: 5px;
    border: 1px solid black;
    background-color: var(--white);
}
/* classe della barra di invio messaggi */
.footer{
    background-color: var(--grey-400);
    height: 60px;
}
.footer button{
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0;
    color: var(--grey-600);
}
/*************************** Animazioni *****************************/
/* puntini di sta scrivendo... */
.boing .ball{
    display: inline-block;
    width: 5px; height: 5px;
    background-color: black;
    border-radius: 50%;
    margin: 0 3px;
    animation: bounce-1 0.7s linear calc(0.1s * var(--item)) infinite;
}
@keyframes bounce-1 {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-6px); }
    100% { transform: translateY(0); }
}
/* ingresso delle opzioni  */
/* we will explain what these classes do next! */
.options-enter-active,
.options-leave-active {
    transition: opacity 0.3s ease;
}

.options-enter-from,
.options-leave-to {
    opacity: 0.4;
}
/* slide del contenitore a desra e destra dell'app */
.slide-fade-chat-enter-active {
    transition: all 0.5s ease-out;
}
.slide-fade-chat-leave-active {
    transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-chat-leave-to{
    opacity: 0.6;
}
.slide-fade-chat-enter-from{
    transform: translateX(50px);
    opacity: 0.6;
}
/* slide del contenitore a sinistra e destra dell'app */
.slide-fade-menu-enter-active {
    transition: all 0.5s ease-out;
}
.slide-fade-menu-leave-active {
    transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-menu-leave-to{
    opacity: 0.6;
}
.slide-fade-menu-enter-from{
    transform: translateX(-50px);
    opacity: 0.6;
}
/*************************** Media Query *****************************/
@media screen and (max-width:992px){
    .text-message{
        padding: 0.7rem 4rem 0.7rem 0.7rem;
        max-width: 80%;
    }
    /* classi dei messaggi ricevuti e inviati  */
    .sent{
        margin-right: 1rem;
    }
    .received{
        margin-left: 1rem;
    }
}
@media screen and (max-width:768px) {
    .my-d-none{
        display: none;
    }
}
/* prova di cancella commit */