<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/script.js" defer></script>
    <title>Whatsapp</title>
</head>
<body>
    <div class="wrapper my-flex">
        <div id="app" class="d-flex">
            <div class="menu-chat col-md-6 col-lg-4">
                <div class="header">
                    <div class="my-flex">   
                        <div class="my-pic-profile"><img src="img/avatar_io.jpg"></div>
                        <span><b>Sofia</b></span>
                    </div>
                    <div class="icons">
                        <i class="fa-solid fa-circle-notch me-3 fs-5"></i>
                        <i class="fa-solid fa-message me-3 fs-5"></i>
                        <i class="fa-solid fa-ellipsis-vertical me-3 fs-5"></i>
                    </div>
                </div>
                <div class="notify">
                    <div class="pic-profile my-flex">
                        <i class="fa-solid fa-bell-slash fs-4"></i>
                    </div>
                    <div class="ms-2">
                        <span><b>Ricevi notifiche di nuovi messaggi</b></span> <br>
                        <span><u>Attiva notifiche desktop</u></span>
                    </div>
                </div>
                <div class="my-flex input-bar">
                    <button><i class="fa-sharp fa-solid fa-magnifying-glass"></i></button>
                    <input type="text" placeholder="Cerca o inizia una nuova chat" class="flex-grow-1">
                </div>
                <div class="list-chat">
                    <div v-for="(contact, i) in contacts" :key="i" class="chat" @click="showChat(contact.id)" :class="(contact.id == contacts[activeChat].id) ? 'chat-active' : ''">
                        <div class="pic-profile">
                            <img :src="`img/avatar${contacts[i].avatar}.jpg`">
                        </div>
                        <div class="ms-2 name-chat">
                            <span><b>{{contacts[i].name}}</b></span><br>
                            <span>{{contacts[i].messages[contacts[i].messages.length - 1].message}}</span>
                        </div>
                        <div class="time">{{contacts[i].messages[contacts[i].messages.length - 1].date.substring(11,16)}}</div>
                    </div>
                </div>
            </div>
            <div class="messages col-md-6 col-lg-8">
                <div class="header my-flex ps-2">
                    <div class="my-flex">
                        <div class="my-pic-profile"><img :src="`img/avatar${contacts[activeChat].avatar}.jpg`"></div>
                        <div class="ms-2">
                            <span><b>{{contacts[activeChat].name}}</b></span> <br>
                            <span>Ultimo accesso oggi alle {{contacts[activeChat].messages[contacts[activeChat].messages.length - 1].date.substring(11,16)}}</span>
                        </div>
                    </div>
                    <div class="icons">
                        <i class="fa-sharp fa-solid fa-magnifying-glass me-3 fs-5"></i>
                        <i class="fa-solid fa-paperclip me-3 fs-5"></i>
                        <i class="fa-solid fa-ellipsis-vertical me-3 fs-5"></i>
                    </div>
                </div>
                <div class="inner-messages">
                    <div v-for="(item, i) in contacts[activeChat].messages" :key="i" class="text-message" :class="item.status">{{item.message}}</div>
                </div>
                <div class="footer my-flex p-3">
                    <i class="fa-regular fa-face-smile fs-4"></i>
                    <input type="text" class="flex-grow-1 fs-5 mx-3 rounded-2 border-0" placeholder="Scrivi un messaggio">
                    <i class="fa-solid fa-paper-plane fs-4 me-3"></i>
                    <i class="fa-solid fa-microphone fs-4"></i>
                </div>
            </div>
        </div>
    </div>
</body>
</html>