<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/script.js" defer></script>
    <title>Whatsapp</title>
</head>
<body>
    <div class="wrapper my-flex">
        <!-- container generale di tutta l'app -->
        <div id="app" class="d-flex">
            <!-- menu di sinistra con la lista delle chat -->
            <div class="menu-chat col-md-6 col-lg-4">
                <!-- foto e opzione dell'account personale -->
                <div class="header">
                    <div class="my-flex">   
                        <div class="my-pic-profile"><img src="img/avatar_io.jpg"></div>
                        <span><b>Sofia</b></span>
                    </div>
                    <div class="icons">
                        <button><i class="fa-solid fa-circle-notch"></i></button>
                        <button><i class="fa-solid fa-message"></i></button>
                        <button><i class="fa-solid fa-ellipsis-vertical"></i></button>
                    </div>
                </div>
                <!-- sezione per l'attivazione delle notifiche -->
                <div class="notify">
                    <div class="pic-profile my-flex">
                        <i class="fa-solid fa-bell-slash fs-4"></i>
                    </div>
                    <div class="ms-2">
                        <span><b>Ricevi notifiche di nuovi messaggi</b></span> <br>
                        <a href="#" class="text-dark"><span>Attiva notifiche desktop</span></a>
                    </div>
                </div>
                <!-- barra di ricerca per filtrare la lista delle chat -->
                <div class="my-flex input-bar">
                    <button><i class="fa-sharp fa-solid fa-magnifying-glass"></i></button>
                    <input type="text" v-model="searchTerm" placeholder="Cerca o inizia una nuova chat" class="flex-grow-1">
                </div>
                <!-- lista delle chat creato scorrendo la copia dell'array originale filtrato attraverso il campo di input qui sopra-->
                <div class="list-chat">
                    <div v-for="(contact, i) in filteredContacts" :key="i" class="chat" @click="showChat(contact.id)" :class="{ 'chat-active' : contact.id == contacts[activeChat].id}">
                        <div class="pic-profile">
                            <img :src="`img/avatar${contact.avatar}.jpg`">
                        </div>
                        <!-- informazioni di ultimo accesso e messaggio ottenute grazie a due specifiche funzioni -->
                        <div class="ms-2 name-chat">
                            <span><b>{{contact.name}}</b></span><br>
                            <span>{{getLastMessageReceived(contact).message}}</span>
                        </div>
                        <div class="time-chat">{{getLastAccess(contact).date.substring(11,16)}}</div>
                    </div>
                </div>
            </div>
            <!-- sezione della chat selezionata -->
            <div class="messages col-md-6 col-lg-8">
                <!-- foto profilo, ultimo accesso e opzioni della chat -->
                <div class="header my-flex ps-2">
                    <div class="my-flex">
                        <div class="my-pic-profile"><img :src="`img/avatar${contacts[activeChat].avatar}.jpg`"></div>
                        <div class="ms-2">
                            <span><b>{{contacts[activeChat].name}}</b></span> <br>
                            <span v-if="contacts[activeChat].visible">Ultimo accesso oggi alle {{getLastAccess(contacts[activeChat]).date.substring(11,16)}}</span>
                            <span v-else :class="{'boing' : pcStatus == 'sta scrivendo'}">
                                {{pcStatus}}
                                <span class="ball" style="--item:1"></span>
                                <span class="ball" style="--item:2"></span>
                                <span class="ball" style="--item:3"></span>
                            </span>
                        </div>
                    </div>
                    <div class="icons position-relative">
                        <button><i class="fa-sharp fa-solid fa-magnifying-glass"></i></button>
                        <button><i class="fa-solid fa-paperclip"></i></button>
                        <button @click="showOptions(contacts[activeChat])"><i class="fa-solid fa-ellipsis-vertical"></i></button>
                        <div class="options-chat" v-show="contacts[activeChat].options" @mouseleave="showOptions(contacts[activeChat])">
                            <button>Svuota chat</button> <br>
                            <button>Elimina chat</button>
                        </div>
                    </div>
                </div>
                <!-- lista dei messsaggi creata scorrendo l'array dei messaggi, con la funzione di cancella messaggio-->
                <div class="inner-messages">
                    <div v-for="(item, i) in contacts[activeChat].messages" v-show="item.show" :key="i" class="text-message" :class="item.status">
                        <span>{{item.message}}</span>
                        <span class="time-message">{{item.date.substring(11,16)}}</span>
                        <button @click="showOptions(item)"><i class="fa-solid fa-angle-down"></i></button>
                        <div class="options-message" v-show="item.options" @mouseleave="showOptions(item)">
                            <button>Info</button> <br>
                            <button @click="deleteMessage(i)">Cancella</button>
                        </div>
                    </div>
                </div>
                <!-- sezione dell'invio dei messaggi -->
                <div class="footer my-flex p-3">
                    <button><i class="fa-regular fa-face-smile fs-4"></i></button>
                    <input v-model="contacts[activeChat].newMessage" @keyup.enter="sendMessage()" type="text" class="flex-grow-1 fs-5 mx-1 rounded-2 border-0" placeholder="Scrivi un messaggio">
                    <button @click="sendMessage()" v-if="!!contacts[activeChat].newMessage"><i class="fa-solid fa-paper-plane fs-4"></i></button>
                    <button v-else><i class="fa-solid fa-microphone fs-4"></i></button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>